*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /*overflow: hidden;*/
}

body{
    background-color: burlywood;   
}
#logo{
    position:absolute;
    height:100%;
}
#back_button{
    position:absolute;
    top:550px;
    left: 80px;
    font-size: 50px;
    padding: 20px;
    width: 300px;
    height: 100px;
    background-image: linear-gradient(rgb(36, 102, 93), rgb(108, 203, 135));
    border: 5px solid rgb(108, 203, 135);
    border-radius: 40px;
    font-family: brush script mt;
    color:blanchedalmond;
}
#back_button:hover{
    background-image: linear-gradient(rgb(108, 203, 135), rgb(36, 102, 93));
}
#back_button:active{
    transform: translate(0, 10px);
}
#title{
    color:rgb(43, 146, 108);
    position:absolute;
    font-family: brush script mt;
    font-size: 100px;
    top: 30px;
    right: 250px;
}
#youtube{
    position: absolute;
    left: 600px;
    top: 200px;
    width:100px;
    height:100px;
    background-image: url(../images/sprite.png);
    background-position: -210px 100px;
}
#youtube_words{
    position: absolute;
    left: 730px;
    top: 220px;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(193, 0, 0);
}
#youtube:hover{
    background-position: -210px 0px;
}
#youtube:active{
    background-position: -210px 100px;
}
#facebook{
    position: absolute;
    left: 600px;
    top: 500px;
    width:100px;
    height:100px;
    background-image: url(../images/sprite.png);
    background-position: 0px 100px;
}
#facebook_words{
    position: absolute;
    left: 730px;
    top: 520px;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(43, 113, 211);
}
#facebook:hover{
    background-position: 0px 0px;
}
#facebook:active{
    background-position: 0px 100px;
}
#hr{
    position: absolute;
    top: 400px;
    left: 600px;
    width: 700px;
    color:rgb(43, 146, 108);
    border-color:rgb(43, 146, 108);
}
#youtube_background{
    position:absolute;
    width: 750px;
    height:150px;
    background-color:rgb(112, 174, 152);
    border-radius: 30px;
    z-index: -1;
    top:470px;
    left: 580px;
}
#facebook_background{
    position:absolute;
    width: 750px;
    height:150px;
    background-color:rgb(112, 174, 152);
    border-radius: 30px;
    z-index: -1;
    top:180px;
    left: 580px;
}